.container .menu-icon {
    position: absolute;
    color: white;
    font-size: 30px;
    left: 42px;
    top: 24px;
    cursor: pointer;
    z-index: 1;
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  transition: 1s ease-in-out;
}

.menu-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu-content a{
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-family: sans-serif;
  transition: .3s ease-in-out;
}

.menu-content h5{
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-family: sans-serif;
  transition: .3s ease-in-out;
  font-weight: 600px;
}

.menu-content a:hover{
  
  color: white;
  font-size: 30px;
}

.menu-container .closebtn {
  position: absolute;
  top: 36px;
  right: 48px;
  font-size: 30px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

#w4 {
  margin-top: 300px;
}

.social-icons {
  display: flex;
  position: absolute;
  left: 870px;
  top: 220px;
  right: 400px;
  color: white;
  
  
}

.social-icon i {
    color: white;
}

.closebtn:hover {
  color: red;
}

.openbtn:hover {
  opacity: 50%;
}

.phologo {

  margin: 30px;
}
