* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: var(--bg);
}

html {
  --bg: white;
  --para: black;
  --heading: black;
  --butoncolor: #464646;
  --par: white;
  
}

html[data-theme="dark-mode"] {
  --bg: #0A0A0A;
  --para: #D9D9D9;
  --heading: #D9D9D9;
  --butoncolor: #E8E8E8;
  --par: black;
}

 /* The Overlay (background) */
 .overlay { 
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: white; 
  overflow-x: hidden; 
  transition: 0.5s; 
}


.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block; 
  transition: 0.3s; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.heading0 {
  margin-top: 300px;
  color: var(--heading);
}

.heading1 {
  font-size: 8.333em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: var(--heading);
}

p {
  color: var(--heading);
  font-size: 15px;
  font-style: italic;
}

i {

  color: var(--heading);
}

.switch-info label input[type=checkbox]:checked+.lever {
  background-color: black;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.about-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: var(--heading);

}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
}

.about-section {
  margin-top: 350px;
}

.about-image {
  position: relative;
}

.about-image img {
  top: 350px;
  margin-top: 250px;
  margin-left: 100px;
}

.second-img {
    position: relative;
}

.second-img img {
  margin-top: 3em;
  margin-left: 1em;
}

.about-heading-2 h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin-top: 2em;
  color: var(--heading);

}

.about-text-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
}

.card {
  border: none;
  background-color: var(--bg);
}

.group-2 {
  margin-top: 200px;
}

.srvc-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin-top: 70px;
  color: var(--heading);
}

.card-content p {
  color: var(--para);
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
  margin: 1px 3px;
  border-radius: 100%;
	
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.testimonal h2 {
  margin-top: 220px;
  color: var(--heading);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.portfolio h2 {
  color: var(--heading);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin-top: 200px;
}

.img-3 {
  position: relative;
}

.page-indicator {
  margin-top: 300px;
}
.one {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #242424;
  display: inline-block;
}

.two {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: silver;
  border-radius: 50%;
}

.three {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: silver;
  border-radius: 50%;
}

.footer {
  color: white;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 

@media only screen and (max-width: 600px) {
  .heading1 {
    font-size: 60px;
  }

  .about-image img {
    width: 300px;
    height: 300px;
    display: none;
  }

  .second-img {
    width: 300px;
    height: 300px;
    display: none;
  }


}

label {
  color: var(--para);
}

.heading-counter {
  margin-top: 300px;
  color: var(--para);
}

.calculator-price {
  color: var(--para);
  margin-top: 200px;
}

.light [data-theme="dark"] {
  display: none;
}

.design-heading {
  margin-top: 360px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: var(--heading);
}

.strt {
  background-color: var(--butoncolor);
  color: var(--par);
}

.vector {
  position: relative;
}

.vector img {
  margin-top: 200px;
}

.designer {
  width: 100%;
  height: 1000px;
  border: 1px solid black;
}

.designer-heading01 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: var(--heading);
  margin-top: 100px;
}

.components {
  width: 100%;
  height: 150px;
  background-color: silver;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.item {
  touch-action: none;
  user-select: none;
  width: 300px;
  background-color: springgreen;
  
}

#alrt {
  -webkit-animation: cssAnimation 3s forwards; 
  animation: cssAnimation 3s forwards;
}

/*le style du cercle qui sert de zone pour déposer le carré*/
.dropzone {
	width: 100%;
	height: 1000px;
	background-color: rgb(128, 128, 128);
	margin: auto;
	z-index: -1;
}

/*le cercle change de couleur quand le carré est déplacé*/
.drop-active {
  background-color: #a0a0a0;
}

/*on ajoute une bordure au cercle quand le carré survol celui-ci*/
.drop-target {
	border: 15px solid rgb(38, 0, 255);
}


/*le carré change de couleur quand il survol le cercle*/
.drag-drop {
	background-color: #583131;
	width: 500px;
	height: 100px;
  color: #fff;
  transition: background-color 0.3s;
	text-align: center;
	transition: border-radius .1s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #FC6E5E;

}

/*le carré devient un cercle*/
.drop-ok {
	
}

.cont {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}

.clct {
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.radiolabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
  font-weight: 800;
}

.price-input {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
  font-weight: 800;
  font-size: 20px;
}
.bordercal {
  border-radius: 15%;
  background-color: lightgray;
}

.calculator_price {
  margin-left: 150px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.pricetext {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.calheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: var(--heading);
  margin-top: 200px;
}

.inlinelabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
  font-weight: 800;
}

.price-fields {
  margin-top: 315px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
	.dropzone {
		width: 300px;
		height: 300px;
		margin-top: 20%;
	}
	
	.drag-drop {
	width: 90px;
	height: 90px;
	}
}

@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0; display: none;}
}
