* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: var(--bg);
}

html {
  --bg: white;
  --para: black;
  --heading: black;
  
}

html[data-theme="dark-mode"] {
  --bg: #0A0A0A;
  --para: #D9D9D9;
  --heading: #D9D9D9;

}

 /* The Overlay (background) */
 .overlay { 
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: white; 
  overflow-x: hidden; 
  transition: 0.5s; 
}


.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block; 
  transition: 0.3s; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.heading0 {
  margin-top: 300px;
  color: var(--heading);
}

.heading1 {
  font-size: 8.333em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: var(--heading);
}

p {
  color: var(--heading);
  font-size: 15px;
  font-style: italic;
}

i {

  color: var(--heading);
}

.switch-info label input[type=checkbox]:checked+.lever {
  background-color: black;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.about-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: var(--heading);

}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
}

.about-section {
  margin-top: 350px;
}

.about-image {
  position: relative;
}

.about-image img {
  top: 350px;
  margin-top: 250px;
  margin-left: 100px;
}

.second-img {
    position: relative;
}

.second-img img {
  margin-top: 3em;
  margin-left: 1em;
}

.about-heading-2 h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin-top: 2em;
  color: var(--heading);

}

.about-text-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: var(--para);
}

.card {
  border: none;
  background-color: var(--bg);
}

.group-2 {
  margin-top: 200px;
}

.srvc-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin-top: 70px;
  color: var(--heading);
}

.card-content p {
  color: var(--para);
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
  margin: 1px 3px;
  border-radius: 100%;
	
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.testimonal h2 {
  margin-top: 220px;
  color: var(--heading);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.portfolio h2 {
  color: var(--heading);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin-top: 200px;
}

.img-3 {
  position: relative;
}



.footer {
  background-color: #242424;
  color: white;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 

@media only screen and (max-width: 600px) {
  .heading1 {
    font-size: 60px;
  }

  .about-image img {
    width: 300px;
    height: 300px;
  }

  .second-img {
    width: 300px;
    height: 300px;
  }
}

label {
  color: var(--para);
}

.heading-counter {
  margin-top: 300px;
  color: var(--para);
}

.calculator-price {
  color: var(--para);
  margin-top: 200px;
}
